/*****************公共样式****************************/
*{
    box-sizing: border-box;
}
/*清除浮动*/
.clearfix:after{
    content:'';
    display: inline-block;
    clear:both;
    height:0;
    visibility: hidden;
}
html,body{
    height:100%;
    background-color:white;
    color:#333;
}
    #__nuxt{
    height:100%;
}

#sign-template{
    height:100%;
    background-color:#f1f1f1;
}
#default-template{
    height:100%;
    padding-top:56px;
    background-color:#fff;
}
a,a:hover,a:focus {
    text-decoration: none!important;
    color:inherit!important;
}
input:focus {
    outline:none;
}
h1,h2,h3,h4,h5,h6 {
    margin:0;
    padding:0;
}
ul,ol,dl {
    list-style:none;
    margin:0;
    padding:0;
}
img{
    max-height:100%;
    /*display:block;*/
}
.my-container{
    margin-right:auto;
    margin-left:auto;
    padding-left:15px;
    padding-right:15px;
}
@media (min-width:992px) {
    .my-container{
        width:960px !important;
    }
}

@media (max-width:1080px){
    .my-container{
        width:750px !important;
    }
}
@media(max-width:750px){
    body{
        overflow-x: hidden;
    }
}
/******************首页布局******************************/
.index{
    padding-top:30px;
}
.index .main{
    padding-right:0px;
}
.index .aside{
    padding: 0 0 0 4.16667%;
}
.index .main .banner img{
    width:100%;
    border-radius:4px;
}
.index .main .banner{
    margin-bottom:35px;
}
.index .main .recommend-collection{
    margin-bottom:15px;
}
.index .main .recommend-collection a{
    display: inline-block;
    min-height: 32px;
    margin:0px 18px 18px 0;
    border-radius:6px;
    background-color:#f7f7f7;
    border:1px solid #ccc;
}
.index .main .recommend-collection .more-hot-collection{
    display: inline-block;
    color:#787878 !important;
    margin:0;
    vertical-align: top;
    border:none;
    line-height:32px;
    font-size:14px;
    background-color:none;
}
.index .main .recommend-collection a img{
    width:32px;
    height:32px;
    vertical-align: bottom;
}
.index .main .recommend-collection a span{
    display: inline-block;
    padding:0 10px;
    line-height:32px;
    fonti-size:14px;
}
.index .main .split-line{
    margin:0 0 15px;
    border-bottom:1px solid #ccc;
}

.note-list{
    border:0;
    padding:0;
    margin:0;
    list-style:none;
}
.note-list li{
    position:relative;
    width:100%;
    padding: 0 0 17px;
    margin: 0 0 17px 0;
    border-bottom:1px solid #ccc;
    word-wrap: break-word;
}
.note-list li.have-img>.wrap-img{
    position: absolute;
    top:50%;
    margin-top:-60px;
    right:0;
    display: inline-block;
    width:150px;
    height:120px;
}
.note-list li.have-img>.wrap-img img{
    width:100%;
    height:100%;
    border-radius:4px;
    border:1px solid #f0f0f0;
}
.note-list li.have-img .content{
    padding-right:160px;
}
.note-list .author{
    margin-bottom:14px;
    font-size:13px;
}
.note-list .author .avatar ,.note-list .author .info{
    display: inline-block;
    vertical-align: middle;
}
.avatar{
    width:32px;
    heigt:32px;
    display: block;
}
.avatar img{
    width:100%;
    height:100%;
    border-radius:50%;
    border:1px solid #ccc;
}
.note-list .author .avatar{
    margin:0 5px 0 0;
}
.note-list .author .info .time{
    color:#969696;
    padding-left:5px;
}
.note-list .title{
    font-size:18px;
    font-weight:700;
    margin-bottom:7px;
}
.note-list .title:visited{
    color:#969696 !important;
}
.note-list .abstract{
    font-size:13px;
    line-height:24px;
    margin:0 0 7px 0;
}
.note-list .meta{
    font-size:12px;
    line-height:20px;
    font-weight:400;
}
.note-list .meta .collection-tag{
    display: inline-block;
    color:#ea6f5a !important;
    border:1px solid #ea6f5a;
    padding:3px 6px;
    border-radius:3px;
    margin-right:10px;
    max-width:200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    vertical-align: middle;
    transition:all ease-in .5s;
}
.note-list .meta .collection-tag:hover{
    background-color:rgb(254,247,246);
    border-color:rgb(236,97,73)
}
.note-list .meta a.tag {
    margin-right:10px;
    color:#b4b4b4 !important;
    transition:all linear .5s;
}
.note-list .meta span{
    color:#b4b4b4;

}
.note-list .meta a.tag:hover{
    color:rgb(120,120,120) !important;
}
.index .main .load-more{
    display: block;
    width:100%;
    height:40px;
    line-height:20px;
    text-align: center;
    color:#fff!important;
    background-color:#a5a5a5;
    border-radius:20px;
    margin:30px auto 60px;
    padding:10px 15px;
    font-size:15px;
}
@media (max-width:1080px){
    .note-list li.have-img>.wrap-img img{
        bottom: 40px;
        width: 125px;
        height: 100px;
    }
    .note-list li.have-img>div{
        padding-right:135px;
    }
}

/*侧边*/

.index .aside .board{
    margin-bottom:4px;
}
.index .aside .board img{
    margin-bottom:4.41px;
    width:100%;
}
.recommend-author{
    margin-bottom:20px;
    font-size:14px;
    text-align:center;
}
.recommend-author .title{
    text-align: left;
    color:#969696;
}

.recommend-author .title .page-change{
    float:right;
    color:#969696;
}
.recommend-author .title .page-change i{
    transition:all linear .5s;
}
.recommend-author .list{
    margin-bottom:20px;
}
.recommend-author .list li{
    margin-top:15px;
    text-align: left;
}
.recommend-author .list li .avatar{
    float:left;
    width:48px;
    height:48px;
    margin-right:10px;
}
.recommend-author .list li .follow{
    float:right;
    font-size:13px;
    color:#42c02e !important;
    margin-top:5px;
}
.recommend-author .list li .name{
    padding-top:5px;
    margin-right:60px;
    fonbt-size:14px;
    display: block;
}
.recommend-author .list li p{
    color:#969696;
    font-size:12px;
}
.recommend-author .find-more{
    display: inline-block;
    width:100%;
    padding:5px 7px 5px 12px;
    color:#787878 !important;
    border:1px solid #ccc;
    background-color:#f7f7f7;
    font-size:15px;
    border-radius:10px;
}
.recommend-author .find-more i{
    font-size:14px;
    margin-left:10px;
}
.aside .download{
    display: block;
    width:100%;
    border:1px solid #ccc;
    border-radius:4px;
    background-color:white;
    padding:7px 10px;
    margin-bottom:30px;
}
.aside .download img{
    width:100%;
}


/*底部信息*/

footer .footer-list{
    width:100%;
}
footer .footer-list li{
    display: inline-block;
    font-size:13px;
    color:#969696;
    cursor: pointer;
    transition:all linear .5s;
}
footer .footer-list li:hover{
    color:black;
}
footer .footer-info{
    font-size:12px;
}

/*******************文章页面布局*************************/
.note{
    position: relative;
    padding-top:10px;
}
.note .post{
    width:620px;
    margin: 0 auto;
    padding-top:20px;
    padding-bottom:40px;
}
@media (max-width:785px){
    .note .post{
        margin:0 74px;
    }
}
.note .post .artical .title{
    font-size:34px;
    font-weight:700;
    margin:20px 0 0 ;
    word-break: break-all;
}
.note .post .artical .author{
    margin:30px 0 40px 0px;
}
.note .post .artical .author .avatar{
    width:48px;
    height:48px;
    display: inline-block;

}
.note .post .artical .author .info{
    display: inline-block;
    margin-left:15px;
    vertical-align: middle;
}
.note .post .artical .author .info .name{
    font-size:16px;
    margin-right:5px;
}
.note .post .artical .follow{
    color:white !important;
    font-size:12px;
    background-color:#42c02e;
    border-radius:20px;
    padding:3px 10px 3px 10px;
}
.note .post .artical .following{
    font-size:12px;
    background-color:#fff;
    border-radius:20px;
    padding:3px 10px 3px 10px;
    border:1px solid #969696;
}
.note .post .artical .author .info a span{
    margin-left:5px;
}
.note .post .artical .author .meta{
    margin-top:5px;
    font-size:12px;
    color:#969696;
}
.note .post .article .author .meta span{
    margin-right:5px;
}
.note .post .artical .show-content{
    font-size:16px;
    font-weight:400px;
    word-break:break-all;
    color:#2f2f2f;
    line-height:1.7;
}
.note .post .artical .show-content p{
    margin:0 0 20px;
}
.nort .post .artical .show-foot{
    margin-bottom:30px;
}
.note .post .artical .show-foot .notebook{
    font-size:12px;
    color:#c8c8c8!important;
}
.note .post .artical .show-foot .notebook i{
    margin-right:5px;
}
.note .post .artical .show-foot .copyright{
    float:right;
    font-size:12px;
    color:#c8c8c8;
}
.note .post .artical .follow-detail{
    padding:20px;
    background-color:#f8f8f8;
    border:1px solid #e1e1e1;
    border-radius:4px;
}
.note .post .artical .follow-detail .avatar{
    width:48px;
    height:48px;
    float:left;
    margin-right:10px;
}
.note .post .artical .follow-detail .btn{
    float:right;
    box-shadow: none;
    width:100px;
    padding:8px 0;
}
.note .post .artical .follow-detail .following{
    background:none;
}

.note .post .artical .follow-detail .btn span{
    margin-left:5px;
}

.note .post .artical .follow-detail .title{
    font-size:17px;
    line-height:1.0;
    margin-right:5px;
}
.note .post .artical .follow-detail .info >i{
    color:#3194D0;
    font-size:15px;
}
.note .post .artical .follow-detail .info p{
    color:#969696;
    margin-bottom:0;
    font-size:12px;
}
.note .post .artical .follow-detail .signature{
    padding-top:20px;
    margin-top:20px;
    border-top:1px solid #ddd;
    color:#969696;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    font-size:12px;
}
.note .post .artical .meta-bottom{
    margin-top:40px;
    margin-bottom:80px;
}

.note .post .artical .meta-bottom .like{
    display: inline-block;
}
.note .post .artical .meta-bottom .share-group{
    float:right;
}
.note .post .artical .meta-bottom .like-group{
    border:1px solid #ea6f5a;
    padding:13px 0 15px;
    border-radius:40px;
}
.note .post .artical .meta-bottom .like-group:hover{
    background-color:#fef7f6;
}
.mote .post .artical .meta-bottom .like .active{
    background-color:#ea6f5a;
}
.note .post .artical .meta-bottom .like-group .btn-like{
    font-size:19px;
    display: inline-block;
    color:#ea6f5a;
}
.note .post .artical .meta-bottom .like-group .btn-like a{
    padding:18px 15px 18px 30px;
}
.note .post .artical .meta-bottom .like-group .btn-like a i{
    margin-right:5px;
}
.note .post .artical .meta-bottom .like-group .modal-wrap{
    display: inline-block;
    font-size:18px;
    border-left:1px solid rgb(234, 111, 90);
    color: #ea6f5a;
}
.note .post .artical .meta-bottom .like-group .modal-wrap a{
    padding:18px 30px 18px 17px;
}
.note .post .artical .meta-bottom .share-group>a{
    display: inline-block;
    width:50px;
    height:50px;
    line-height:50px;
    text-align:center;
    border:1px solid #dcdcdc;
    border-radius:50%;
    background-color:#fff;
    margin-left:5px;
}
.note .post .artical .meta-bottom .share-group>a{
    font-size:20px;
}
.weibo{
    color:#e05244;
}
.weixin{
    color:#00bb29;
}
.qq{
    color:lightseagreen;
}
.note .post .artical .meta-bottom .share-group .more-share{
    width:auto;
    line-height:42px;
    font-size:14px;
    padding:4px 18px;
    border-radius:40px;
    color:#969696 !important;
    position: relative;
}
.note .post .artical .meta-bottom .share-group a:hover{
    background-color:#f8f8f8;
}
.note .post .artical .meta-bottom .share-group  .shareBox{
    font-size:16px;
    border:1px solid #969696;
    /*box-shadow:  2px  2px 2px #ccc;*/
    position: absolute;
    width:160px;
    top:-240px;
    right:-35px;
    background-color:white;
    text-align: left;
    border-radius:10px;
}
.note .post .artical .meta-bottom .share-group  .shareBox .triangleOne{
    position: absolute;
    bottom:-7px;
    left:calc(50% - 12px);
    width:16px;
    height:1px;
    background-color:#969696;
    transform: rotate(45deg);
    box-shadow:  2px  2px 2px #ccc;
}
.note .post .artical .meta-bottom .share-group  .shareBox .triangleTwo{
    position: absolute;
    bottom:-7px;
    left:calc(50% - 3px);
    width:16px;
    height:1px;
    background-color:#969696;
    transform: rotate(-45deg);
    box-shadow:  2px  2px 2px #ccc;
}
.note .post .artical .meta-bottom .share-group  .shareBox .triangleThree{
    position: absolute;
    bottom:-1px;
    left:calc(50% - 10px);
    width:21px;
    height:1px;
    background-color:white;
}
.note .post .artical .meta-bottom .share-group  .shareBox li{
    border-radius: 10px;
}
.note .post .artical .meta-bottom .share-group  .shareBox li:hover{
    background-color:#f5f5f5;
}
.note .post .artical .meta-bottom .share-group  .showShare span{
    margin-left:5px;
}

/*评论区域的样式*/
.comment-placeholder{
    padding:20px 0px 30px;
}
.comment-placeholder .author{
    margin-bottom:15px;
}
.comment-placeholder .author .avatar{
    background-color:#eaeaea;
    border-radius:50%;
}
.comment-placeholder .author .info{
    display: inline-block;
}
.comment-placeholder .author .info .name{
    width:60px;
    height:15px;
    margin-bottom:6px;
    background-color:#eaeaea;
}
.comment-placeholder .author .info .meta{
    width:120px;
    height:12px;
    background-color:#eaeaea;
}
.comment-placeholder .title{
    width:100%;
    height:16px;
    background-color:#eaeaea;
    margin-bottom:8px;
    animation: loading 1s ease-in-out infinite;
}
.comment-placeholder .animated-delay{
    animation:loading 1s ease-in-out -.5s infinite;
}
@keyframes loading {
    0%{
        width:60%;
    }
    50%{
        width:100%;
    }
    100%{
        width:60%;
    }

}
@keyframes shortLoading {
    0% {
        width: 20%
    }

    50% {
        width: 40%
    }

    to {
        width: 20%
    }
}
.comment-placeholder .tool-group{
    font-size:15px;
    color:#eaeaea;
    padding-top:6px;
}
.comment-placeholder .tool-group i{
    margin-right:5px;
}
.comment-placeholder .tool-group div{
    height:14px;
    width:40px;
    margin-right:10px;
    display: inline-block;
    background:#eaeaea;
}

/*个人主页样式*/
.person .row{
    padding-top:30px;
}
.person .main .main-top{
    margin-bottom:20px;
}
.person .main .main-top .avatar{
    display: inline-block;
    width:80px;
    height:80px;
    float:left;
    margin-left:-2px;
}
.person .main .main-top .title{
    padding:5px 0px 0px 100px;
}
.person .main .main-top .title .name{
    display: inline-block;
    font-size:21px;
    font-weight:700;
    vertical-align: middle;
}
.person .main .main-top .info{
    margin-top:5px;
    padding:0px 0px 0px 100px;
    font-size:14px;
}
.person .main .main-top .info ul li{
    display: inline-block;
}
.person .main .main-top .info ul li .meta-block{
    font-size:14px;
    margin:0px 7px 6px 0px;
    padding:0px 7px 0px 0px;
    border-right:1px solid #f0f0f0;
    color:#969696;
}
.person .main .main-top .info ul li .meta-block p{
    margin-bottom:0;
    color:black;
}
.person .main .person-menu{
    border-bottom:1px solid #f0f0f0;
}
.person .main .person-menu li{
    height:100%;
    display: inline-block;
    position: relative;
    padding:8px 0px;
    margin-bottom:-8px;
    line-height:20px;
    overflow: hidden;
}
.person .main .person-menu li.active{
    border-bottom:2px solid #646464;
}
.person .main .person-menu li.active .bottomLine{
    display: none;
}
.person .main .person-menu li.active a{
    color:#646464 !important;
}
.person .main .person-menu li a{
    padding:13px 20px;
    font-size:15px;
    font-weight:700;
    line-height:25px;
    color:#969696 !important;
}
.person .main .person-menu li a:hover{
    color:#646464 !important;
}
.person .main .person-menu li i{
    display: inline-block;
    margin-right:15px;
    font-size:17px;
}
.person .main .person-menu li .bottomLine{
    position: absolute;
    bottom:0px;
    left:50%;
    width:5%;
    border-bottom:2px solid #646464;
    opacity: 0;
    transition:all .3s linear;
}
.person .main .person-menu li:hover .bottomLine{
    transform: scale(30,1);
    opacity: 1;
}
.person .aside{
    width:280px;
    margin-left:30px;
}
.person .aside .title{
    float:left;
    margin-bottom:10px;
    font-size:14px;
    color:#969696;
}
.person .aside .edit{
    float:right;
    font-size:13px;
    color:#969696 !important;
}
.person .aside textarea{
    text-indent: 10px;
    width:100%;
    height:125px;
    margin-bottom:5px;
    paddding:5px 10px;
    font-size:14px;
    background-color: hsla(0,0%,71%,.1);
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    resize: none;
    outline: none;
}
.person .aside form .save{
    width:70px;
    height:31px;
    line-height:25px;
    padding:0px 15px;
    color:#76d461;
    text-align: center;
    border:1px solid #76d461;
    border-radius:15px;
    display: inline-block;
}
.person .aside form .save:hover{
    background:#f5fcf3;
}
.person .aside form .cancel{
    display: inline-block;
    margin-left:10px;
    font-size:14px;
    line-height:34px;
    color:#969696;
    cursor:pointer;
}
.person .aside form .cancel:hover{
    color:black;
}
.person .aside .list{
    margin-bottom:16px;
    border-bottom:1px solid #f0f0f0;
    clear:both;
}
.person .aside .list li{
    margin-bottom:10px;
    line-height:20px;
}
.person .aside .list li a{
    font-size:14px;
    color:#333 !important;
    line-height:30px;
}
.person .aside .list li i{
    margin-right:10px;
    font-size:20px;
}
.person .aside div .title{
    float: left;
    margin-bottom: 10px;
    font-size: 14px;
    color: #969696;
}
.person .aside div .plus{
    float:right;
    font-size: 13px;
    color: #42c02e !important;
}
.person .aside div .list img{
    width:32px;
    height:32px;
    border-radius:5px;
    margin-right:10px;
}

